main {
  padding-left: 200px;
  top: 0px;
}

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }
}

.name h1 {
  font-size: 40px;
  text-align: center;
  line-height: inherit;
  margin-top: 5px;
  font-weight: bold;
}

.name span {
  font-size: 18px;
}

.sidenav {
  width: 205px;
}

.sidenav li {
  padding-top: 20px;
  width: auto;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

#intro-image {
  background: url("/media/IMG_3860.png") no-repeat top center/cover;
  position: relative;
}

.full-height {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.half-height {
  height: 50vh;
  max-width: 100%;
  margin: 0 auto;
}

blockquote h2 {
  font-size: 3rem;
}

h3 {
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 30px 40px;
	text-transform: uppercase;
}

#contact .container {
  height: 100%;
}

#contact a {
  font-size: 18px;
}